.details {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: lightyellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headlineContainer {
  height: 100px;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.headlineDetailsContainer {
  height: 95%;
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
}

.starContainer {
  height: 90%;
  width: 15%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigImageContainer {
  height: 250px;
  margin-top: 10px;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigImageContainer img {
  height: 95%;
  width: auto;
}

.newsDescription {
  height: 290px;
  margin-top: 10px;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .bigImageContainer img {
    height: auto;
    width: 95%;
  }
}

@media only screen and (max-width: 800px) {
  .bigImageContainer img {
    height: auto;
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .bigImageContainer img {
    height: auto;
    width: 95%;
  }
}
@media only screen and (max-width: 600px) {
  .details {
    height: 100%;
  }
  .bigContainer {
    display: flex;
    height: 100%;
  }

  .bigImageContainer,
  .newsDescription {
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    min-height: 200px;
  }
}
