.news {
  height: 680px;
  width: 100%;
  border-radius: 10px;
  background-color: lightyellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newsSourceName{
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}